# Solucion Map of Science 
### Read the file `pubmedfrog.txt`, and extract all the US ZIP codes.

First, import the modules we'll need.

In [ ]:
import re
import csv
import itertools
import pandas as pd
import matplotlib.pyplot as plt

Now read the whole file, and store it into a string.

In [ ]:
f = open('data/pubmedfrog.txt',errors = 'ignore')
Carpetas = f.read()

10503969

Note that the zipcode could be broken over two lines, as in line 43 of `pubmedfrog.txt`

```
AD  - Biological and Biomedical Sciences Program, Harvard Medical School, Boston, MA
      02115, USA. Department of Genetics, Harvard Medical School, Boston, MA 02115,
      USA.
```

To avoid problems, replace each newline followed by 6 spaces with a single space.

In [ ]:
Carpeta = re.sub(r'\n\s{6}', ' ', Carpetas)

We should now have every entry in a single line. Let's look at part of an entry:

In [ ]:
Carpetas = re.findall(r"\,\s[A-Z]+[A-z]{2,11}\.", Carpeta)
unique_codes = list(set(Carpetas))
unique_codes.sort()

In [ ]:
a = unique_codes
print(a)

In [ ]:
[', Algeria.', ', Amphibia].', ', Apdo.', ', Aptdo.', ', Argentina.', ', Assam.', ', Australia.', ', Austria.', ', Avda.', ', Belarus.', ', Belgium.', ', Berkeley.', ', Billrothstr.', ', Bldg.', ', 
Bolivia.', ', Bombina.', ', Borneo.', ', Brasil.', ', Brazil.', ', Brunei.', ', Bufonidae.', ', Bulgaria.', ', Bvd.', ', CSIC.', ', 
Calif.', ', California.', ', Canada.', ', Chile.', ', China.', ', 
Col.', ', Colombia.', ', Connecticut.', ', Copenhagen.', ', Croatia.', ', Cuba.', ', Daudin.', ', Denmark.', ', Dept.', ', Depto.', 
', Dist.', ', Div.', ', ECUADOR.', ', ENaC.', ', Ecuador.', ', Egypt.', ', England.', ', Estonia.', ', Europe.', ', Fac.', ', Fig.', ', Finland.', ', Florida.', ', France.', ', GFP.', ', Garbenstr.', ', Gemany.', ', Germany.', ', Greece.', ', Hebei.', ', Hungary.', ', IRCPKDKIYKFCGSPCPPSCKDLTPNCIAVCKKGCFCRDGTVDNNHGKCVKKENC.', ', Inc.', ', India.', ', Indonesia.', ', Iran.', ', Ireland.', ', Iridoviridae.', ', Israel.', ', Italia.', ', Italy.', ', Japan.', ', Jordan.', ', Kentucky.', ', Kenya.', ', Korea.', ', LLC.', ', Lancashire.', ', Laos.', ', Lithuania.', ', Litoria.', ', Ltd.', ', Macao.', ', Macau.', ', Madagascar.', ', Malaysia.', ', Malta.', ', Mexico.', ', Missouri.', ', Mor.', ', Multicilin.', ', Myanmar.', ', NSW.', ', Netherlands.', ', Nigeria.', ', Norway.', ', Ohio.', ', Oman.', ', Ont.', ', POMC.', ', Padre.', ', Pakistan.', ', Panama.', ', Paraguay.', ', Peru.', ', Poland.', ', Polypedates.', ', Portugal.', ', Proc.', ', Provo.', ', Qatar.', ', ROC.', ', Rana.', ', Ranaboylii.', ', Rod.', ', Romania.', ', Russia.', ', Santiago.', ', Schaflandstr.', ', Schillerstr.', ', Schubertstr.', ', Scotland.', ', Sep.', ', Serbia.', ', Singapore.', ', Slovakia.', ', Slovenia.', ', Spain.', ', Suriname.', ', Sweden.', ', Switzerland.', ', Taiwan.', ', Tanzania.', ', Tex.', ', Texas.', ', Thailand.', ', Tunisia.', ', Turkey.', ', UAE.', ', USA.', ', UVS.', ', Uganda.', ', Ukraine.', ', Uruguay.', ', Venezuela.', ', Venezuela].', ', Vic.', ', Vietnam.', ', Virginia.', ', Washington.', ', Weinheim.', ', XEEL.', ', Yunnan.', ', Zambia.']

In [ ]:
r = unique_codes
r.remove(', Rod.')
r.remove(', Syst.')
r.remove(', Vic.')
r.remove(', Prof.')
r.remove(', Prov.')
r.remove(', Ref.')
r.remove(', SCK.')
r.remove(', Sec.')

In [ ]:
print (r)

In [ ]:
[', Algeria.', ', Amphibia].', ', Apdo.', ', Aptdo.', ', Argentina.', ', Assam.', ', Australia.', ', Austria.', ', Avda.', ', Belarus.', ', Belgium.', ', Berkeley.', ', Billrothstr.', ', Bldg.', ', 
Bolivia.', ', Bombina.', ', Borneo.', ', Brasil.', ', Brazil.', ', Brunei.', ', Bufonidae.', ', Bulgaria.', ', Bvd.', ', CSIC.', ', 
Calif.', ', California.', ', Canada.', ', Chile.', ', China.', ', 
Col.', ', Colombia.', ', Connecticut.', ', Copenhagen.', ', Croatia.', ', Cuba.', ', Daudin.', ', Denmark.', ', Dept.', ', Depto.', 
', Dist.', ', Div.', ', ECUADOR.', ', ENaC.', ', Ecuador.', ', Egypt.', ', England.', ', Estonia.', ', Europe.', ', Fac.', ', Fig.', ', Finland.', ', Florida.', ', France.', ', GFP.', ', Garbenstr.', ', Gemany.', ', Germany.', ', Greece.', ', Hebei.', ', Hungary.', ', IRCPKDKIYKFCGSPCPPSCKDLTPNCIAVCKKGCFCRDGTVDNNHGKCVKKENC.', ', Inc.', ', India.', ', Indonesia.', ', Iran.', ', Ireland.', ', Iridoviridae.', ', Israel.', ', Italia.', ', Italy.', ', Japan.', ', Jordan.', ', Kentucky.', ', Kenya.', ', Korea.', ', LLC.', ', Lancashire.', ', Laos.', ', Lithuania.', ', Litoria.', ', Ltd.', ', Macao.', ', Macau.', ', Madagascar.', ', Malaysia.', ', Malta.', ', Mexico.', ', Missouri.', ', Mor.', ', Multicilin.', ', Myanmar.', ', NSW.', ', Netherlands.', ', Nigeria.', ', Norway.', ', Ohio.', ', Oman.', ', Ont.', ', POMC.', ', Padre.', ', Pakistan.', ', Panama.', ', Paraguay.', ', Peru.', ', Poland.', ', Polypedates.', ', Portugal.', ', Proc.', ', Provo.', ', Qatar.', ', ROC.', ', Rana.', ', Ranaboylii.', ', Romania.', ', Russia.', ', Santiago.', ', Schaflandstr.', ', Schillerstr.', ', Schubertstr.', ', Scotland.', 
', Sep.', ', Serbia.', ', Singapore.', ', Slovakia.', ', Slovenia.', ', Spain.', ', Suriname.', ', Sweden.', ', Switzerland.', ', Taiwan.', ', Tanzania.', ', Tex.', ', Texas.', ', Thailand.', ', Tunisia.', ', Turkey.', ', UAE.', ', USA.', ', UVS.', ', Uganda.', ', Ukraine.', ', Uruguay.', ', Venezuela.', ', Venezuela].', ', Vietnam.', ', Virginia.', ', Washington.', ', Weinheim.', ', XEEL.', ', Yunnan.', ', Zambia.']

In [ ]:
a = "".join(unique_codes)
b = a.split(", ")
c = "".join(b)
unique_zipcodes = c.split(".")

In [ ]:
print(unique_codes[:20])

In [ ]:
[', Algeria.', ', Amphibia].', ', Apdo.', ', Aptdo.', ', Argentina.', ', Assam.', ', Australia.', ', Austria.', ', Avda.', ', Belarus.', ', Belgium.', ', Berkeley.', ', Billrothstr.', ', Bldg.', ', 
Bolivia.', ', Bombina.', ', Borneo.', ', Brasil.', ', Brazil.', ', Brunei.']

In [ ]:
len(unique_zipcodes)

152

In [ ]:
%matplotlib inline

Coordenadas = pd.read_csv('Data/data_Coordenadas.csv', engine='python', skipfooter=3)
Coordenadas.head(15)

In [ ]:
country   latitude   longitude                  name
0       AD  42.546245    1.601554               Andorra
1       AE  23.424076   53.847818  United Arab Emirates
2       AF  33.939110   67.709953           Afghanistan
3       AG  17.060816  -61.796428   Antigua and Barbuda
4       AI  18.220554  -63.068615              Anguilla
5       AL  41.153332   20.168331               Albania
6       AM  40.069099   45.038189               Armenia
7       AN  12.226079  -69.060087  Netherlands Antilles
8       AO -11.202692   17.873887                Angola
9       AQ -75.250973   -0.071389            Antarctica
10      AR -38.416097  -63.616672             Argentina
11      AS -14.270972 -170.132217        American Samoa
12      AT  47.516231   14.550072               Austria
13      AU -25.274398  133.775136             Australia
14      AW  12.521110  -69.968338                 Aruba

In [ ]:
Coordenadas.columns = ["ID_País", "Latitud", "Longitud", "Nombre"]
Coordenadas.head(10)

In [ ]:
 ID_País    Latitud   Longitud                Nombre
0      AD  42.546245   1.601554               Andorra
1      AE  23.424076  53.847818  United Arab Emirates
2      AF  33.939110  67.709953           Afghanistan
3      AG  17.060816 -61.796428   Antigua and Barbuda
4      AI  18.220554 -63.068615              Anguilla
5      AL  41.153332  20.168331               Albania
6      AM  40.069099  45.038189               Armenia
7      AN  12.226079 -69.060087  Netherlands Antilles
8      AO -11.202692  17.873887                Angola
9      AQ -75.250973  -0.071389            Antarctica

In [ ]:
datos_nombre = Coordenadas[Coordenadas.Nombre.isin(unique_zipcodes)]
datos_paises = Coordenadas[Coordenadas.ID_País.isin(unique_zipcodes)]
all_data =pd.concat([datos_nombre,datos_paises]).drop_duplicates().sort_values('Nombre')

In [ ]:
all_data.head(10)

In [ ]:
 ID_País    Latitud    Longitud     Nombre
58      DZ  28.033886    1.659626    Algeria
10      AR -38.416097  -63.616672  Argentina
13      AU -25.274398  133.775136  Australia
12      AT  47.516231   14.550072    Austria
33      BY  53.709807   27.953389    Belarus
19      BE  50.503887    4.469936    Belgium
27      BO -16.290154  -63.588653    Bolivia
28      BR -14.235004  -51.925280     Brazil
26      BN   4.535277  114.727669     Brunei
21      BG  42.733883   25.485830   Bulgaria

In [ ]:
#matplotlib 
import matplotlib.pyplot as plt
plt.scatter(all_data.Longitud, all_data.Latitud, s=50, c=all_data.Latitud)
plt.colorbar()

ard = dict(arrowstyle="->")
plt.annotate('AUSTRALIA', xy = (133.775136, -25.274398), 
               xytext = (133.775136, -20), arrowprops= ard)
plt.annotate('BRASIL', xy = (-51.92528, -14.235004), 
               xytext = (-51.92528, -9.5), arrowprops= ard)
plt.annotate('BELGICA', xy = (4.469936, 50.503887), 
               xytext = (9.469936, 38), arrowprops = ard)
plt.annotate('CHINA', xy = (104.195397, 35.86166), 
               xytext = (104.195397, 39), arrowprops= ard)
plt.annotate('NORUEGA', xy = (8.468946, 60.472024), 
               xytext = (8.468946, 63), arrowprops= ard)
plt.annotate('AFGHANISTAN', xy = (67.709953,33.939110), 
               xytext = (70.709953, 30), arrowprops= ard)
plt.annotate('ARGENTINA', xy = (-63.616672,	-38.416097), 
               xytext = (-63.616672, -36), arrowprops= ard)
plt.annotate('ALGERIA', xy = (1.659626,	28.033886), 
               xytext = (1.659626, 24), arrowprops= ard)
plt.annotate('BOLIVIA', xy = (-63.588653,	-16.290154), 
               xytext = (-63.588653, -6), arrowprops= ard)
params = plt.gcf()
plSize = params.get_size_inches()
params.set_size_inches( (plSize[0] * 3, plSize[1] * 3) )

plt.savefig("Mapa of frogs.png")